.:{{ coredns_bind_port }} {
    health :{{ coredns_health_port }} {
        lameduck 1s
    }

    file /etc/coredns/zones/db.srv.qiu.home srv.qiu.home
    file /etc/coredns/zones/db.qiu.home     qiu.home
    file /etc/coredns/zones/db.192.168      168.192.in-addr.arpa

    prometheus :{{ coredns_prometheus_port }}
    debug
    log
    errors
    forward {{ coredns_forward }}
}
